<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  New Facility
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for Facility.create do |f| %>
          <% if Facility.create.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(Facility.create.errors.count, "error") %> prohibited this facility from being saved:</h2>
              <ul>
              <% Facility.create.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
              <%= f.text_field :name, autocomplete: "off", class: "form-control", placeholder: "Facility Name" %> </br>
              <%= f.text_field :address, autocomplete: "off", class: "form-control", placeholder: "Address"%> </br>
              <%= f.text_field :address2, autocomplete: "off", class: "form-control", placeholder: "Address 2"%> </br>
              <%= f.text_field :city, autocomplete: "off", class: "form-control", placeholder: "City"%> </br>
              <%= f.text_field :state, autocomplete: "off", class: "form-control", placeholder: "State"%> </br>
              <%= f.text_field :zip_code, autocomplete: "off", class: "form-control", placeholder: "Zip Code"%></br>
              <%= f.text_field :phone, autocomplete: "off", class: "form-control", placeholder: "Phone Number"%> </br>
              <%= f.text_area :description, autocomplete: "off", class: "form-control", placeholder: "Description"%> </br>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Finished", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>