
            <nav>
                <h5 class="sidebar-header">Navigation</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="<%= 'active' if controller?('dashboard') && action?('index') %>">
                        <a href="/dashboard">
                            <i class="fa  fa-fw fa-tachometer"></i> Dashboard
                        </a>
                    </li>
                    
                    <li class="<%= 'active' if controller?('pages') && action?('schedule') %>">
                        <%= link_to schedule_path do %>
                            <i class="fa  fa-fw fa-calendar"></i> Schedule
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('pages') && action?('payment') %>">
                        <%= link_to payment_path do %>
                            <i class="fa  fa-fw fa-credit-card"></i> Payment
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('pages') && action?('attendance') %>">
                        <%= link_to attendance_path do %>
                            <i class="fa  fa-fw fa-check"></i> Attendance
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('facilities') %>">
                        <%= link_to facilities_path do %>
                            <i class="fa  fa-fw fa-globe"></i> Facilites
                        <% end %>
                    </li>
                    

                    <li class="<%= 'active' if controller?('pages') && action?('forms') %>">
                        <%= link_to forms_path do %>
                            <i class="fa  fa-fw fa-file"></i> Forms
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('devise/registration') && action?('edit') %>">
                        <%= link_to edit_user_registration_path do %>
                            <i class="fa  fa-fw fa-user"></i> Account
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('pages') && action?('help') %>">
                        <%= link_to help_path do %>
                            <i class="fa  fa-fw fa-heart"></i> Help
                        <% end %>
                    </li>
                </ul>
            </nav>