 <div class="sidebar-profile">
                <div class="avatar">
                    <img class="img-circle profile-image" src="<%= image_path('profile.jpg') %>" alt="profile">
                    <i class="on border-dark animated bounceIn"></i>
                </div>
                <div class="profile-body dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>Example User<span class="caret"></span></h4></a>
                    <small class="title">Front-end Developer</small>
                    <ul class="dropdown-menu animated fadeInRight" role="menu">
                        <li class="profile-progress">
                            <h5>
                                <span>80%</span>
                                <small>Profile complete</small>
                            </h5>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-primary" style="width: 80%">
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>My Account</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-envelope"></i>
                                </span>Messages</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-cog"></i>
                                </span>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Sign-Out", destroy_user_session_path, :method => :get, class: "fa fa-sign-out" %>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
                <h5 class="sidebar-header">Navigation</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="<%= 'active' if controller?('dashboard') && action?('index') %>">
                        <a href="/dashboard">
                            <i class="fa  fa-fw fa-tachometer"></i> Dashboard
                        </a>
                    </li>
                    
                    <li class="<%= 'active' if controller?('pages') && action?('schedule') %>">
                        <%= link_to schedule_path do %>
                            <i class="fa  fa-fw fa-calendar"></i> Schedule
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('pages') && action?('payment') %>">
                        <%= link_to payment_path do %>
                            <i class="fa  fa-fw fa-credit-card"></i> Payment
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('pages') && action?('attendance') %>">
                        <%= link_to attendance_path do %>
                            <i class="fa  fa-fw fa-check"></i> Attendance
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('facilities') %>">
                        <%= link_to facilities_path do %>
                            <i class="fa  fa-fw fa-globe"></i> Facilites
                        <% end %>
                    </li>
                    

                    <li class="<%= 'active' if controller?('pages') && action?('forms') %>">
                        <%= link_to forms_path do %>
                            <i class="fa  fa-fw fa-file"></i> Forms
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('pages') && action?('account') %>">
                        <%= link_to account_path do %>
                            <i class="fa  fa-fw fa-user"></i> Account
                        <% end %>
                    </li>
                    
                    <li class="<%= 'active' if controller?('pages') && action?('help') %>">
                        <%= link_to help_path do %>
                            <i class="fa  fa-fw fa-heart"></i> Help
                        <% end %>
                    </li>
                </ul>
            </nav>